<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="med.webtest.MedicareLoginTest"/>
      <class name="med.webtest.MedicareHomeTest"/>
      <class name="med.webtest.MedicareAccessTest"/>
      <class name="med.webtest.MedicareViewProductTest"/>
      <class name="med.webtest.MedicareContactTest"/>
      <class name="med.webtest.MedicareUserTest"/>
      <class name="med.webtest.MedicareSignupTest"/>
      <class name="med.webtest.MedicareUserCheckoutTest"/>
      <class name="med.webtest.MedicareAdminTest"/>
      <class name="med.webtest.MedicareAboutTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
